<h2>Summary</h2>
<div>
<p>
    I am an ardent student of technology and intelligence practices. My
    forte lies in the quickness I have to comprehend new material and
    deliver stakeholder vision through technological and analytic means. 
    I have robust communication and follow a set of stringent
    ethical guidelines. <br><br>Proficient in cryptology, operating systems,
    programming, general use applications, servers, computer
    networking, mathematics, and cyber security practices.
    Participated in a year-long internship with the Department of
    Homeland Security as of May 2020 until August 2021 as a student
    trainee (intelligence) in a Cyber Threat Analyst role. 
    <br><br>As of June, 2021, I have graduated from Walsh College with a
    Bachelor of Science in Information Technology with a concentration
    in Business Information Systems.
    I am now pursuing a Master of Science in Information Technology
    with a concentration in Data Science.
    <br><br>Projects that I have completed in my personal and academic
    pursuits:
    <br>
    ________________________________________________________________________________________________________
</p>
</div>
