<h1>About Us</h1>
<br>
<br>
<table>
<tr>
    <th>Website creator</th>
    <td>
        Matthew Ivezaj
    </td>
</tr>
<tr>
    <th>What this website does</th>
    <td>
        This website generates passwords for a user.<br>
    </td>
    <td>
        You may choose the length that you want to set the sting to be.
    </td>
    <td>
        You may choose whether you want:
        <ul>
            <li>
                Numbers
            </li>
            <li>
                Uppercase Letteres
            </li>
            <li>
                Lowercase Letters
            </li>
            <li>
                Special Characters
            </li>
        </ul>
    </td>
</tr>

</table>